.smartSection_area {
    /* border: 1px solid green; */
    width: 90%;
    margin: 10rem auto;
    z-index: 500;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: 82.93333rem;
}

@media (min-width: 45.25em) {
    .smartSection_area {
        flex-flow: row nowrap;
        justify-content: space-around;
    }
}