.footerBottom_area {
    margin: 0 auto;
    max-width: 100rem;
    padding: 1.5rem;
    font-size: 0.86666667;
}

.footerBottom_container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    text-align: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid yellow; */
}

.footerBottom_col {
    margin: 0;
    /* flex-grow: 0; */
    width: max-content;
    max-width: 100%;
    flex-basis: 100%;
    padding: 20px;
}

@media (min-width: 45.25em) {}

@media (min-width: 60em) {}