.footer_area {
    background: var(--clr-primary);
    padding: 3.25rem 0 1.7rem;
    color: #fff;
    letter-spacing: 0.75px;
    text-align: center;
    margin-top: 10rem;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}


/* @media (min-width: 45.25em) {
    .footer_area {
        text-align: left;
    }
} */