.hovered_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(21, 58, 91, 0.4);
    opacity: 0;
    color: white;
    font-size: 0.9333rem;
}

.hovered_area:hover {
    opacity: 1;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
    transition-property: opacity;
}

.hovered_caption {
    padding-bottom: 18px;
}

.hovered_anchor>.link {
    border: 1px solid white;
    padding: 15px;
    margin-right: 3px;
}

@media (max-width: 47.4375em) {
    .hovered_area {
        width: 75%;
        left: 12%;
        /* margin: 0 auto; */
    }
}

.link:hover {
    background-color: white;
    color: var(--clr-primary);
    font-weight: bolder;
}